<!DOCTYPE html>
<html>
<head>
  <title>Meu Amigo Secreto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li>Inicio</li>
    <li>Criar grupo</li>
    <li>Alguma</li>
  </ul>
</nav>

<%= yield %>

<footer>
  <small>@2015 - Leonardo camp</small>
</footer>

</body>
</html>
